@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Noblesville, IN 46060<br />
    <abbr title="Phone">P:</abbr>
    317.538.7790
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:dcass78@yahoo.com">dcass78@yahoo.com</a><br />
</address>