@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron {
        background: url('https://images.pexels.com/photos/248174/pexels-photo-248174.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center 25%;
        background-size: cover;
        text-align: center;
        height: 100%;
        width: 100%;
    }
</style>

<div class="jumbotron">
    <h1>TrAiL YeAh!</h1>
    <p class="lead">TrAiL YeAh! is a guide to all the great hiking trails your little heart desires.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Go here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Trails</h2>
        <p>
            TrAiL YeAh! guides you to the areas best hiking trails based upon a ranking system.
        </p>
        <button>
        @Html.ActionLink("Trails", "Index", "Trail")
        </button>
    </div>
    <div class="col-md-4">
        <h2>Wish List</h2>
        <p>A place where you can store your wish list of trails not yet explored.</p>
        <button>@Html.ActionLink("Wish Lists", "Index", "Wish List")</button>
    </div>
    <div class="col-md-4">
        <h2>Hiking Equipment</h2>
        <p>A great way to store ideas of the best hiking equipment and share with others.</p>
        <button>@Html.ActionLink("Equipment", "Index", "Equipment")
        </button>
    </div>
</div>