@{
    ViewBag.Title = "Home Page";
}
<body class="mainBackground">
<div class="jumbotron">
    <h1>TrAiL YeAh!</h1>
    <p class="lead">TrAiL YeAh! is a guide to all the great hiking trails your little heart desires.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Trails</h2>
        <p>
            A place where you can enter a trail that you have explored and enjoyed.
        </p>
        <a class="button1" href="http://localhost:58895/Trail" style="vertical-align:middle"><span>Enter Trail</span></a>
    </div>
    <div class="col-md-4">
        <h2>Wish List</h2>
        <p>A place where you can store your wish list of trails not yet explored.</p>
        <a class="button2" href="http://localhost:58895/WishList" style="vertical-align:middle"><span>Enter Wish List</span></a>

    </div>
    <div class="col-md-4">
        <h2>Hiking Equipment</h2>
        <p>A great way to store ideas of the best hiking equipment and share with others.</p>
        <a class="button3" href="http://localhost:58895/Equipment"style="vertical-align:middle"><span>Enter Equipment </span></a>
    </div>
</div>
</body>